:root,
[data-bs-theme=light] {
    
    --bs-info: #5b99ea;
    --bs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
        "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    --bs-body-font-size: 1.02rem;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #f0fff5;
    --bs-border-width: 1px;
    --bs-border-color: #dee2e6;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-border-radius: 0.375rem;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
}





.card {
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color)
}

.card-header {
    font-size: 1.2rem;
    font-weight: 500;
    border-bottom: 1px solid #e9ecef;
}



.title{
    text-align: center;
}

.heading {
    width: 85%;  
    box-shadow: none;
    background-color: #005b9e;
}



.add_button{
    text-align: center;
}
#addRowButton {
    font-size: 0.975rem;
    font-weight: 500;
    padding: 9px 18px;
    border-radius: 0.375rem;
    color: #fff;
    background-color: #15A312;
    border: 1px solid #15a362;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

#addRowButton i {
    margin-right: 6px;
}

#addRowButton:hover {
    background-color: #38b17a;
    border-color: #38b17a;
}

#addRowButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(18, 139, 83, 0.5);
}
 

/* Container for buttons to align them together */
.button{
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Add space between buttons */
    margin-top: 10px; /* Optional, space above the buttons */
}

#editRowButton,
#deleteRowButton {
    font-size: 0.895rem;
    font-weight: 500;
    padding: 9px 18px;
    border-radius: 0.375rem;
    display: inline-flex;
    align-items: center;
    border: none; /* Optional, ensures no border styles interfere */
    transition: background-color 0.3s, border-color 0.3s;
}

#editRowButton {
    color: #ffffff;
    background-color: #15A312;
}

#deleteRowButton {
    color: #fff;
    background-color: #cc0000;
}

#editRowButton:hover {
    background-color: #00cc66;
}

#deleteRowButton:hover {
    background-color: #cc0000;
}

#editRowButton:focus,
#deleteRowButton:focus {
    outline: none;
    box-shadow: none;
}


table {
    caption-side: bottom;
    border-collapse: separate;
    border-spacing: 0 10px; /* Adds spacing between rows */
    width: 100%;
    margin-bottom: 1rem; /* Space below the table */

    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
   
    margin: 20px auto;
    
}


.table thead th {
    border: 1px  #dee2e6; /* Add border to header cells */
    background-color: #15A362; /* Light background for header */
    text-transform: uppercase;
    font-size: 1.02rem;
    font-weight: 600;
    padding: 0.75rem; /* Padding inside header cells */
    text-align: center;
    color: #000000; /* Dark gray text color */
}

.table tbody tr {
    background-color: #ffffff;
    border-radius: 0px;
    transition: background-color 0.3s ease;
}

.table tbody tr td {
    padding: 1rem;
    border: 1px  #dee2e6; /* Border for table cells */
    border-radius: 0px;
    vertical-align: middle; /* Vertically align cell content */
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f0fff0;
    cursor: pointer;
}

.table tbody tr:last-child td {
    border-bottom: none; /* Remove bottom border from the last row */
}


.app {
    min-height: 100vh;
    width: 100%;
    background: #eefff4;
    padding-top: 56px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; /* Ensure footer stays at the bottom */
}

.container {
    display: grid;
    place-items: center;
    align-content: center;
    display: contents;
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
    padding-bottom: 60px; 

}

.content {
    width: calc(100% - 250px); /* Ensure content adjusts with sidebar */
    padding: 20px;
    margin-left: 250px; /* Matches sidebar width */
    position: relative;
    min-height: 100vh; /* Ensure full content height */
    flex: 1; /* Push footer to the bottom */
}

.navigation {
    width: 250px;
    /* background-color: #ffffff; */
    background: linear-gradient(to left, #f0fff8, #ffffff);
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 20px;
}

.navigation a {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation a:hover {
    background-color: #000000;
    color: #fff;
}

.icon {
    margin-right: 12px;
    font-size: 1.2em;
}

.app-card {
    background: linear-gradient(to left, #f0fff8, #ffffff);
    padding: 15px;
    border-radius: 10px;
    width: 94%;
    margin: 20px auto;
}

.app-card-body {
    padding: 1.5rem;
}

.app-card.app-card-stat.shadow-sm.h-100 {
    display: grid;
    place-items: left;
  }
.app-card.app-card-stat.shadow-sm.h-100 h2 {
    color: #15A312;
}  
.app-card.app-card-stat.shadow-sm.h-100 p {
    color: #15A312;
}


/* .app-card-update{
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    margin: 25px auto;
    
} */



.stats-figure {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #15A362;
    
}


.update {
    background-color: #ffffff;
    padding: 200px 40px ;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 60%;
    margin: 25px auto;
    margin-right: 300px; /* Adjust this value as needed */
    position: relative;
   
}
.header{
    padding-bottom: 16px;
}
.update label {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
}

.update input[type="number"],
.update input[type="date"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.update input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 6px rgba(74, 144, 226, 0.2);
}

.update button {
    padding: 12px 20px;
    background-color: #15A312;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}

.update button:hover {
    background-color: #15A362;
    transform: translateY(-2px);
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 767.98px) {
    .content {
        margin-left: 0;
        width: 100%;
    }

    .navigation {
        width: 100%;
        height: auto;
        position: static;
    }

    .update input[type="number"],
    .update input[type="date"] {
        width: 100%;
    }

    .update button {
        width: 100%;
    }
}


.filter-container {
    background-color: #fff;
    padding: 20px;
    padding-left: 60px;
    padding-bottom: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 600px; */
    margin: 20px;
    margin-top: 100px;
    /* margin-left: 496px; */

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
    gap: 20px; /* Space between items */
    grid-template-areas:
        "form form "; /* Empty spot for balance */
    
}

.filter-form {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-item input,
.filter-item select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
    font-size: .9em;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 400px;
    
    
}

.filter-btn {
    background-color: #15A312;
    color: white;
    padding: 10px;
    margin: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.05rem;
    transition: background-color 0.3s ease;
    width: 200px;
    
}

.filter-btn:hover {
    background-color: #137a4b;
}

input[type="range"] {
    
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

input[type="range"]:focus {
    background: #ccc;
}
