

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFDAD8;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.card-header h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fafafa;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
}

.table-container {
    margin-top: 20px;
}

.message {
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 4px;
    margin-bottom: 20px;
}

.error {
    padding: 10px;
    background-color: #f2dede;
    color: #a94442;
    border-radius: 4px;
}


/* Form container styling */
form {
    margin: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

   
    max-width: 600px; /* Prevent form from stretching too wide */
    margin: 20px auto;
    
    
}


/* Heading styling */
h2 {
    text-align: center;
    color: #333;
}

/* Label styling */
label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 6px;
}

/* Input field styling */
input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Radio button styling */
input[type="radio"] {
    margin-right: 5px;
}

/* Submit button styling */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Error message styling */
p {
    color: red;
    text-align: center;
    font-size: 14px;
}

/* Link styling */
a {
    text-align: center;
    display: block;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    form {
        width: 90%;
    }
}
