*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.option_dev
{
 display: flex;
 width: 94%;
 height: 10%;
}

.option_1
{
    height:90%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(216, 216, 216);
    margin-left:20px;
    box-shadow: rgb(240, 240, 240) 9px 8px;
    text-align: center;
    
}
.Op_image
{
    height: 50%;
    width: 40%;
    padding-top: 20px;

    
}
